* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #230312;
}

/* #container {
  position: relative;
}
#detailsContainer {
  position: absolute;
}

#drinksContainer {
  position: absolute;
} */
